:root {
    --brand-preto: #00000000;
    --brand-branco: #FFFFFF;
    --brand-azulbb: #A3D3F7;
    --brand-azulbb2: #8FBDFB;
    --brand-azul: #346CAD;
    --brand-azul2: #3F7FC8;
    --brand-azul3: #4E91DB;
    --brand-azul4: #5997DD;
    --brand-azul5: #79AFEB;
}

body {
    font-family: "inter", sans-serif;
}

main {
    font-family: "advent pro";
}

.bg-brand-gradient-footer {
    background: #FFFFFF;
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(67, 112, 199, 1) 27%);
}

.logo-footer {
    width: 200px;
    height: auto;
}

.icones {
    width: 30px;
    height: 30px;
}


.foto {
    width: 130px;
    height: 170px;
}

.dedinho {
    cursor: pointer;
}

.dedinho:hover {
    text-shadow: 0 0 10px #ffffff, 0 0 10px #000000
}

.logo-body {
    width: 250px;
    height: auto;
}

.img-login {
    width: 64px;
    height: auto;

}

.divisao {
    border-left: 2px solid #000;
    padding-left: 1rem !important;
    margin-left: 0.5rem;
    border-radius: 0;
}

.nav-link {
    padding: 0;
}

.bg-brand-botaocadastro {
    width: 100px;
    background: #000000;
    background: radial-gradient(circle, rgba(0, 0, 0, 0.24) 0%, rgba(0, 0, 0, 0.24) 100%);

}

.bg-brand-botaocadastro:hover {
    background: #000000;
    background: radial-gradient(circle, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%);
}

.bg-brand-botaologin {
    width: 100px;
    background: #000000;
    background: radial-gradient(circle, rgba(0, 0, 0, 0.24) 0%, rgba(0, 0, 0, 0.24) 100%)
}

.bg-brand-botaologin:hover {
    background: #000000;
    background: radial-gradient(circle, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%);
}

.bg-brand-index {
    background: #D7E2E7;
    background: linear-gradient(90deg, rgba(215, 226, 231, 1) 5%, rgba(194, 219, 237, 1) 18%, rgba(197, 218, 235, 1) 25%, rgba(192, 219, 237, 1) 33%, rgba(187, 223, 240, 1) 40%, rgba(187, 223, 240, 1) 53%, rgba(160, 205, 251, 1) 63%, rgba(143, 189, 251, 1) 87%, rgba(143, 189, 251, 1) 100%);
}

.bg-brand-preto {
    background: #000000;
    background: radial-gradient(circle, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%);

}

.text-brand-black {
    color: #000000;
}

.bg-brand-saltos {
    background: #4370C7;
    background: linear-gradient(90deg, rgba(67, 112, 199, 1) 0%, rgba(79, 125, 210, 1) 12%, rgba(91, 135, 219, 1) 25%, rgba(99, 144, 223, 1) 36%, rgba(102, 143, 221, 1) 48%, rgba(105, 151, 231, 1) 60%, rgba(102, 146, 229, 1) 72%, rgba(100, 142, 225, 1) 83%, rgba(92, 134, 219, 1) 95%, rgba(92, 132, 218, 1) 100%);
}

.text-brand-white {
    color: white;
}

.bg-brand-skybus {
    background: #BDCEE0;
    background: linear-gradient(90deg, rgba(189, 206, 224, 1) 0%, rgba(173, 201, 227, 1) 12%, rgba(160, 198, 228, 1) 25%, rgba(156, 199, 230, 1) 36%, rgba(151, 190, 226, 1) 48%, rgba(144, 185, 225, 1) 60%, rgba(157, 184, 220, 1) 72%, rgba(157, 179, 216, 1) 83%, rgba(124, 160, 204, 1) 92%, rgba(90, 129, 175, 1) 100%);
}

.paraquedista {
    width: 100%;
}

.saltos {
    background: #244397;
    background: linear-gradient(80deg, rgba(36, 67, 151, 1) 0%, rgba(35, 62, 140, 1) 33%, rgba(26, 53, 131, 1) 68%, rgba(40, 80, 174, 1) 100%);
    width: 350px;
}

.img {
    height: 450px;
    margin-left: 3%;
}

.agendar {
    width: 300px;
    justify-content: center;
    background-color: #1A3583;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.agendar:hover {
    background-color: #1A3583;
}

.espaco {
    margin-top: 10%;
}

.eventos {
    background: #244397;
    background: linear-gradient(80deg, rgba(36, 67, 151, 1) 0%, rgba(35, 62, 140, 1) 33%, rgba(26, 53, 131, 1) 68%, rgba(40, 80, 174, 1) 100%);
    width: 230px;
}

.txt1 {
    background: #244396;
    background: linear-gradient(90deg, rgba(36, 67, 150, 1) 0%, rgba(31, 58, 136, 1) 50%, rgba(37, 75, 165, 1) 91%);
    margin-top: 3%;
}

.ftcr {
    width: 450px;
    height: 400px;
}

.hero-section {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 75%, white 100%), url('/src/home.png') center/cover no-repeat;
    height: 900px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.rounded-bg {
    border-radius: 25px;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
}

.bg-brand-azul {
    background-color: var(--brand-azul);
}

.bg-brand-azul2 {
    background-color: var(--brand-azul2);
}

.bg-brand-azul3 {
    background-color: var(--brand-azul3);
}

.bg-brand-azul4 {
    background-color: var(--brand-azul4);
}

.bg-brand-azul5 {
    background-color: var(--brand-azul5);
}

.btn-brand-azulbb2 {
    background-color: var(--brand-azulbb2);
    color: var(--brand-branco);
    height: 80px;
    display: flex;
    align-items: center;
}

.btn-brand-azulbb2:hover {
    background-color: var(--brand-azulbb);
}

.destaque {
    color: var(--brand-preto);
    font-weight: bold;
    font-size: large;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: -3%;
}

.login-logo {
    width: 250px;
    height: auto;
}

.login {
    background-color: #1B4FC1;
    width: 60%;
    height: 55px;
}

.login:hover {
    background-color: rgba(40, 80, 174, 1);
}

.limite {
    width: 50%;
}

.limite-cadastro {
    width: 90%;
}

.divs {
    width: 45% !important;
}

.ceu {
    background-image: url(src/ceu\ com\ nuvem.png);
    width: 1440;
}

.fundo {
    background: RGBA(237, 237, 237, 0.4);
    background: linear-gradient(90deg, rgba(237, 237, 237, 0.8) 0%, rgba(237, 237, 237, 0.8) 100%);
    width: 50%;
}

.fundo-cadastro {
    background: RGBA(237, 237, 237, 0.4);
    background: linear-gradient(90deg, rgba(237, 237, 237, 0.8) 0%, rgba(237, 237, 237, 0.8) 100%);
    width: 70%;
}

.hero-section2 {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 75%, white 100%), url('/src/skybus.png') center/cover no-repeat;
    width: 100%;
    height: 500px;
}

.obj {
    background: #5E86B8;
    background: linear-gradient(90deg, rgba(94, 134, 184, 1) 0%, rgba(143, 189, 251, 1) 100%);
    width: 65%;
}

.mec {
    background: #5E86B9;
    background: linear-gradient(90deg, rgba(94, 134, 185, 1) 0%, rgba(143, 189, 251, 1) 100%);
    width: 15%;
}
.lis{
    background-color: #F1F1F1;
    width: 40%;
    box-shadow: #000;
}

@media (max-width: 991px) {

    .divisao {
        border-left: none;
        padding-left: 0 !important;
        margin-left: 0;
    }

    .img-login {
        display: none !important;
    }

    .navbar-nav {
        align-items: flex-start;
        padding-left: 10px;
    }

    .bg-brand-botaologin {
        margin-right: 80%;
        margin-top: 10%;
    }

    .bg-brand-botaocadastro {
        margin-right: 80%;
    }

    .testes {
        flex-direction: column;
        align-items: center;
    }

    .divs {
        width: 60% !important;
    }

    .limite {
        width: 90%;
    }
}